.primary {
    width: 980px;
    height: 142px;
    border: 5px solid #493F75;
    border-radius: 90px;
    background: rgb(137, 119, 219);
    background: linear-gradient(90deg, rgba(137, 119, 219, 1) 0%, rgba(73, 63, 117, 1) 100%);
    color: white;
    font-size: 64px;
    font-family: RobotoT, sans-serif;
}

.secondary {
    border: 1px solid #4E31D0;
    border-radius: 45px;
    background: rgb(78, 49, 208);
    background: linear-gradient(90deg, rgba(78, 49, 208, 1) 0%, rgba(40, 25, 106, 1) 100%);
    color: white;
    height: 100px;
    width: 900px;
}

.secondary:hover {
    background: #4325cb;
}

.primary:hover {
    background: rgba(137, 119, 219, 1);
    cursor: pointer;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.button2 {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}